@import "body";
@import "navbar";
@import "forms";
body{
    overflow-y:visible;
}
.well-black{
    display: flex;
    background-color: rgba(0,0,0,0.7) !important;
    margin-top:70px;
    height:591px;
    width:102.3%;
    margin-bottom:0;
    border: none;
    border-radius:0px;
}
.txt{
    position:absolute;
    top:260px;
    left:50px;
    right:40px;
    z-index:99;
    color: white;
    font-size:30px;
}
.text2{
    @extend .text;
    font-size:22px;
}

.register{
    display:none;
}
.desc{
    position:fixed;
    margin-left:50%;
}   

.login,.register{
    margin-top:30%;
    margin-left:20%;
}

.red, .red:hover,.red:focus, .red:active{
    color: red !important;
}

.green, .green:hover, .green:focus, .green:active{
    color:green !important;
}

.rmrd{
    display:none;
}

.btn-rmr{
    margin-bottom: -20px;
    background-color: rgba(180, 0, 0, 0.85);
    border: none;
    color:white !important;
    box-shadow:none !important;
}

.heading{
    font-size:30px;
}
@media screen and (max-width: 768px) {
    .desc{
        display:none;
    }
}
