@import "body";
@import "navbar";
@import "forms";
.act{
    box-sizing: border-box;
    background-color:black;
    margin:0;
    padding-top:17.5px;
    padding-bottom:18px;
}
.ticker{
    font-size:30px;
    position:relative;
    margin-top:80px;
    margin-left:20px;
    margin-right:30px;
    background-color:rgba(0,0,0,0.9);
    width:fit-content;
    padding-left:20px !important;
    padding-right:20px !important;    
    padding-bottom:3px;
    display: inline-block; 
}

.dropdown-toggle{
    font-family:$font-family;
    font-weight:700;
    margin-top:80px;    
    background-color:rgba(0,0,0,0.9);
    font-size:25px;
    outline:none;
    border:1px solid black;
    float:right;
    margin-right:3%;
    padding-bottom:1px;
    color:white !important;
}
.dropdown-menu{
    font-family:$font-family;
    font-weight:700;
    background-color:rgba(0,0,0,0.6);
    font-size:25px;
    outline:none;
    border:1px solid black;
    float:right;
    margin-right:3%;
    padding-bottom:1px;
    border-radius:0;
}
.dropdown-header{
    cursor:default;
}
.divider{
    width:90%;
    margin-left:5% !important;
}
.ibdesk{
    @extend .ticker;
    margin-left:0;
    margin-right:0;    
    font-size:20px;
    background-color:rgba(0,0,0,0.7); 
    border-top:3px solid black;  
    border-right:3px solid black;  
    padding-top:10px;
    padding-bottom:6px;  
}
.ibmob{
    margin-left:4%;
    cursor:pointer;
}
.icdesk{
    @extend .ibdesk;
    float:right;
    margin-right:34px;
    cursor:pointer;
}
.iddesk{
    @extend .icdesk;
    margin-right:0;
    border-left:3px solid black;    
}
.ibcldesk{
    @extend .ibdesk;
    cursor:pointer;
    margin-left:-5px;
}
.ibcddesk{
    @extend .ibdesk;
    cursor:pointer;
    margin-left:-5px;
    font-size:20px;
    padding-top:10px;
    padding-bottom:6px;
}
.acti{
    background-color:rgba(0,0,0,0.9);
}
.col-sm-6{
    background-color:rgba(0,0,0,0.7);
    height:500px;
    width:47%;
    padding:0;
}
.first{
    margin-left:35px;
}
.second{
    margin-left:-2px;
}
.glyphicon-chevron-up{
    font-size:20px;
}
.updown{
    color:green;
    font-family:$font-family;
    font-size:20px;
}
.table-condensed{
    box-sizing:border-box;
    width:100%;
    height:500px;
    table-layout:fixed;
}

td{
    border: 2px solid rgba(0,0,0,0.7);
    text-align:center;
    font-size: 32px;
    width:25%;
}
.data{
    font-family:$font-family;
    font-weight:700;
    font-size:30px;
}
.date{
    font-size:24px;
    margin:0;
    margin-left:-20px;
    background-color:transparent;
}
.red{
    color: red;
}
.green{
    color:green;
}
.popover-title,.popover-content{
    font-family:$font-family;
    color:white;
    font-size:18px;
    font-weight:700;    
}
#qty,#qtys{
    color:black;
    font-weight:700;
}
.popover,.popover-title{
    border-radius:0;
    background-color:rgba(0,0,0,0.8);
}
#buys,#sells{
    margin-top:10px;
    background-color:rgba(0,0,0,0.9);
}   
#popover1,#popover2{
    text-decoration:none;
    color:white;
}
.hidden{
    display:none;
}
.list-inline{
    margin:0;
}
.ch{
    height:505px;
    width:106.6%;
    margin-left:35px;
    background-color:rgba(0,0,0,0.7);
    border:3px solid black;
}
.c3-legend-item{
    font-size:16px;
    font-family:$font-family;
    fill:white;
    
}
.c3-legend-item-tile{
    height:12px;
    width:12px;
}
.char{
    width:90%;
}
.c3-tooltip{
    height:10%;
    td,th{
        width:90px;
        font-size:16px;
        font-family:$font-family;
        font-weight:700;
    }
    th{
        color:black;
    }
}
.c3-axis-y text,.c3-axis-x text {
   fill: white;
   font-size:16px;
   font-family:$font-family;
}
.mob{
    display:none;
}
.desk{
     display:inline;
}
@media screen and (max-width: 1250px) {
    .desk{
        display:none;
    }
    .mob{
        display:block;
    }
    .col-sm-6{
        width:90%;
    }
    .second{
        margin-left:35px;
    }
    td{
        width:90%;
    }
}
@media screen and (max-width: 768px) {
    .desk{
        display:none;
    }
    .mob{
        display:block;
    }
    .col-sm-6{
        width:90%;
    }
    .first,.second,.ch{
        margin-left:20px;
    }    
    .ch{
        width:900px;
    }
    td{
        width:90%;
        font-size:25px;
    }
    .data{
        font-size:25px;
    }
    .date{
        font-size:15px;
    }
    .dropdown-toggle{
        font-size:20px;
        color:white !important;
    }
    .ticker{
        font-size:25px;
        margin-left:5px;
    }
    .table-condensed{
        height:250px;
    }
    .col-sm-6{
        height:250px;
        width:92.5%;        
    }
}
@media screen and (max-width: 568px) {
    .data{
        font-size:18px;
    }
    .date{
        font-size:12px;
    }
    .dropdown-toggle{
        font-size:10px;
        color:white !important;
    }
    .ticker{
        font-size:15px;
    }
}
