

	body
   {
     background-color: #D9D9D9;
   }
   
   
  .navbar
    {
    	background-color:#4484CE;
       
    }
   .active a
   {
      background-color:#F9CF00 !important;
      color: #414141 !important;

   }
   li:hover
   {
      background-color: #FDFF61;
   }
   #bd
   {
      color:blue;
      text-align:center;
      padding: 50px;
      margin-top: 150px;
    }
    .nav.navbar-nav li a 
    {
    color: black;
    }
    .navbar-header a span
    {
      color: black;
    }
    td
    {
      width: 100%;
      padding:15px;
      text-align: left;
    }
    tr
    {
      padding: 50px;
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    th
    {
      text-align:center;
    }
     #nm,#nm1
   {
      width: 100%;
      padding: 50px;
      text-align: center;
   }
    #left
    {
      float: left;
      width: 50%;
      padding: 10px;
      border-opacity:0.6;
      border-right: 1px solid rgba(0,0,0,0.5);
      margin-top: 50px;
      text-align: center;
    }
    #right
    {
      float: right;
      text-align: center;
      width: 50%;
      padding: 10px;
      margin-top: 150px;
    }
    h2
    {
      text-align: left;
    }
    .input-group
    {
      margin-right: 10%;
      margin-left: 10%;
      text-align: center;
    }
    #tv
    {
      color: red;
    }